<form [formGroup]="form" class="form-wrapper">
    <mat-card class="container">
        <div class="upload-section">
            <mat-card class="upload-card">
                <mat-card-content>
                    <img *ngIf="form.get('headerImage')?.value" 
                         [src]="'{{origin}}/api/blog-entries/image/' + form.get('headerImage')?.value">
                    <mat-progress-bar *ngIf="file.progress" [value]="file.progress"></mat-progress-bar>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="onClick()">
                            <mat-icon>cloud_upload</mat-icon>
                            <span>Upload Image</span>
                        </button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
            <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="image/*" style="display: none">
        </div>

        <div class="form-fields">
            <mat-form-field appearance="fill" class="form-field">
                <input matInput placeholder="Id" formControlName="id">
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>

            <div class="markdown-section">
                <mat-form-field class="textarea-field">
                    <textarea matInput rows="15" placeholder="Enter Markdown..." formControlName="body"></textarea>
                </mat-form-field>
                <markdown class="markdown-preview" [data]="form.get('body')?.value"></markdown>
            </div>
        </div>

        <button mat-raised-button color="accent" [disabled]="form.invalid" type="submit" (click)="post()">
            Add Blog Entry
        </button>
    </mat-card>
</form>
