<div class="login-wrapper">
    <img src="logo.png" alt="Logo" class="login-logo">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="loginForm.controls['email'].errors">Email is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].errors">Password is required</mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit">Login</button>
    </form>
</div>
